---
http_interactions:
- request:
    method: get
    uri: http://dev.markitondemand.com/MODApis/Api/v2/Quote/json?symbol=TSLA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":"SUCCESS","Name":"Tesla Inc","Symbol":"TSLA","LastPrice":325.6,"Change":-1.02999999999997,"ChangePercent":-0.315341517925473,"Timestamp":"Thu
        Mar 15 00:00:00 UTC-04:00 2018","MSDate":43174,"MarketCap":55000352000,"Volume":6564801,"ChangeYTD":311.35,"ChangePercentYTD":4.57684278143568,"High":332.85,"Low":321.1,"Open":329.38}'
  recorded_at: Fri, 16 Mar 2018 08:09:18 GMT
recorded_with: VCR 4.0.0
